@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer{
    @font-face {
        font-family: "Montserat-ExtraBold";
        src: url("../fonts/Montserrat-ExtraBold.ttf");
    }
    @font-face {
        font-family: "Montserat-Bold";
        src: url("../fonts/Montserrat-Bold.ttf");
    }
    @font-face {
        font-family: "Montserat-Medium";
        src: url("../fonts/Montserrat-Medium.ttf");
    }
    @font-face {
        font-family: "Montserat-Regular";
        src: url("../fonts/Montserrat-Regular.ttf");
    }
    @font-face {
        font-family: "Montserat-SemiBold";
        src: url("../fonts/Montserrat-SemiBold.ttf");
    }
}

.container{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.font-extra{
    font-family: "Montserat-ExtraBold";
}
.font-bold{
    font-family: "Montserat-Bold";
}
.font-medium{
    font-family: "Montserat-Medium";
}
.font-reg{
    font-family: "Montserat-Regular";
}
.font-semi{
    font-family: "Montserat-SemiBold";
}

.bg-body{
    background-color: #ffff;
    /* background-color: #fdf1e5; */
    /* background-color: #4D86F7; */
}

.color-main{
    color: black;
}
.color-contrast{
    color: #4D86F7;
}
.bg-contrast{
    background-color: #4d86f7;
}
.color-contrast-2{
    color: #7451F8;
}

.shadow-circle{
    box-shadow: 0 0 10px rgb(224, 224, 224);
}

.horizontal-media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 40px;

    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 10px;
}

.horizontal-media-scroller a,
.horizontal-media-scroller div{
        scroll-snap-align: start;
}

/* Стили для скрытого меню */
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #051536e1; /* Полупрозрачный фон */
    z-index: 1000; /* Поверх всех блоков */
    padding-top: 100px; /* Отступ сверху для содержания */
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Стили для видимого меню */
.mobile-nav.active {
    display: block;
    transform: translateY(0);
}

/* Стили для ссылок в мобильном меню */
.mobile-nav a {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    width: 80%;
    border-radius: 10px;
}

.mobile-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
